h1 {  text-align: inherit;
    font-family: 'Fredoka One', cursive;
    margin: 35px;

}


h2 { text-align:center;
    font-family: 'Fredoka One', cursive;
    color: rgb(50, 47, 47);

}


h3 { text-align: inherit;
    font-family: 'Fredoka One', cursive;
    color: #333;

}

h4 {
    font-size: 24px;
    font-family: 'Fredoka One', cursive;
   
}

p { 
    font: size 25px;
    color:#4b4b4b;
    font-family: 'Arima Madurai', cursive;
    text-align:center;

}

a { color: #4b4b4b;}

.text-gray {
    color: gray;
}

.blue-link {
    color: #1cb0f6;
    font-weight: 700;
    text-decoration: none;
   
}

.gray-link {
    color:#333;
   
}


.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.color-grey {
    color: grey;
}

.btn {
    
    color: white;
    padding: 20px;
    font-size: 15px;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    text-align: center;

}


.btn-primary {
    background-color: #58cc02;
    border-color: rgb(69, 72, 66);
    box-shadow: rgba(58, 110, 58, 0.4) 0px 2px 4px, rgba(61, 93, 54, 0.4) 0px 7px 13px -3px, rgba(7, 7, 7, 0.2) 0px -3px 0px inset;
    

}

.btn-secondary {
    background-color: #235390;
    border-color: #235390;
    box-shadow: rgba(10, 9, 9, 0.4) 0px 2px 4px, rgba(89, 84, 84, 0.4) 0px 7px 13px -3px, rgba(7, 7, 7, 0.2) 0px -3px 0px inset;
}

.main {
    background-color: #235390;
    color: white;
    margin: 5px;
    font-family: Comic Sans MS;
    text-align: center;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/star-pattern.svg);


}



.main-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-buttons .btn {
    width: 280px;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info>img {
    max-width: 200px;
    margin: 20px;
}



.card-with-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
    
}

.card-with-image img {
    padding-top: 10px;
    
}

.card-with-image div {
    padding-left: 10px;
   

}


.app-download-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;

}


.btn-app-download {
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 192px;
    height: 70px;
    justify-content: space-between;
    background-color: white;
    border-color: rgba(221, 207, 207, 0.4);
    box-shadow: rgba(251, 249, 249, 0.4) 0px 2px 4px, rgba(253, 252, 252, 0.4) 0px 7px 13px -3px, rgba(7, 7, 7, 0.2) 0px -3px 0px inset;
}

.btn-app-download>div>small {
    margin-bottom: 5px;
    font-size: 13px;
    color: #4b4b4b;
    font-weight: bolder;
}

.btn-app-download>div>p {
    display: contents;
    color: #4b4b4b;
    font-weight: bolder;
    font-size: 16px;

}



.card-with-link-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    

}

.card-with-link-img div {
    text-align: center;
    max-width: 250px;

}

.card-with-link-img > img {
    min-width: 180px;
    height: 164px;
}

.get-started {
    display: flex;
    text-align: center;
    background-color: #235390;
    color: white;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/star-pattern.svg);


}

.last-btn {
    display: flex;
    border-radius: 15px;
    padding: 15px;
    border-color: rgb(152, 199, 104);
    box-shadow: rgba(107, 196, 107, 0.4) 0px 2px 4px, rgba(115, 153, 106, 0.4) 0px 7px 13px -3px, rgba(204, 208, 203, 0.2) 0px -3px 0px inset;
    background-color: #58cc02;
    font-family: 'Fredoka One', cursive;
    color: white;
    margin: 20px;

}


.last-btn:hover {
    opacity: 1;
    color:whitesmoke;
    box-shadow: shadow;
}


.about-us {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    font-weight: 700;
    background-image: url(../images/star-pattern.svg);
    background-color: #235390;
    color: white;

}

li {
    list-style-type: none;
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    color: rgb(222, 220, 218);
   
}


.language {
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-size: 19px;
    font-weight: 700;
    background-image: url(../images/star-pattern.svg);
    background-color: #235390;
    color: white;
   padding-bottom: 50px;

}